# Import local .csv

In [1]:
import pandas as pd

%reload_ext autoreload
%autoreload 2

df = pd.read_csv('cust_act1.csv')

df.skew(numeric_only=True)

administrative              1.930426
administrative_duration     4.666608
informational               3.201809
informational_duration      7.202650
product_related             3.321367
product_related_duration    3.643645
bounce_rates                2.949097
exit_rates                  2.194420
page_values                 6.023549
weekend                     1.450999
revenue                     1.908652
dtype: float64

# Perform column dtype transform

In [2]:
from db_utils import DataTransform
from db_utils import DataFrameInfo as dfinfo

display(df.info())
print("Here's the no. of null values in each column:\n", df.isna().sum())
dtype_change = {
    "visitor_type": "category",
    "traffic_type": "category",
    "region": "category",
    "browser": "category",
    "operating_systems": "category",
    # "months": "category" -- Special case
    "administrative": "Int32",
    "informational": "Int32",
    "product_related": "Int32"
}

""" dfinfo(df, 'operating_systems').unique()
print("\n", df['operating_systems'].value_counts())
print(df['operating_systems'].isna().sum()) """

# Perform special transform case for months to be an ordered category
months_ordered = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
df['month'] = pd.Categorical(df['month'], categories=months_ordered, ordered=True)
# Perform the transform from dict
df = DataTransform(df).changetype(dtype_change)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  float64
 1   administrative_duration   11418 non-null  float64
 2   informational             12330 non-null  int64
 3   informational_duration    11994 non-null  float64
 4   product_related           11751 non-null  float64
 5   product_related_duration  12129 non-null  float64
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  object
 10  operating_systems         12319 non-null  object
 11  browser                   12330 non-null  object
 12  region                    12330 non-null  object
 13  traffic_type              12330 non-null  object
 14  visitor_type              12330 non-null  object
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: bool(2), float64(8), int64(1), object(6)
memory usage: 1.4+ MB

None

Here's the no. of null values in each column:
 administrative              570
administrative_duration     912
informational                 0
informational_duration      336
product_related             579
product_related_duration    201
bounce_rates                  0
exit_rates                    0
page_values                   0
month                         0
operating_systems            11
browser                       0
region                        0
traffic_type                  0
visitor_type                  0
weekend                       0
revenue                       0
dtype: int64
Successfully changed 'visitor_type' to category
Successfully changed 'traffic_type' to category
Successfully changed 'region' to category
Successfully changed 'browser' to category
Successfully changed 'operating_systems' to category
Successfully changed 'administrative' to Int32
Successfully changed 'informational' to Int32
Successfully changed 'product_related' to Int32
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  Int32
 1   administrative_duration   11418 non-null  float64
 2   informational             12330 non-null  Int32
 3   informational_duration    11994 non-null  float64
 4   product_related           11751 non-null  Int32
 5   product_related_duration  12129 non-null  float64
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  category
 10  operating_systems         12319 non-null  category
 11  browser                   12330 non-null  category
 12  region                    12330 non-null  category
 13  traffic_type              12330 non-null  category
 14  visitor_type              12330 non-null  category
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: Int32(3), bool(2), category(6), float64(6)
memory usage: 857.6 KB

# Display No. and % of Null values

In [4]:
# print(f"\tNo. null:\n\n{df.isna().sum()}\n\n\tPercent Null:\n\n{(df.isna().sum())/len(df)*100}")

nulldf = dfinfo(df).null()
display(nulldf)

dfinfo(df, 'informational').unique()
#df.loc[nulldf['ColumnName']=='informational']
print('\n')
dfinfo(df, 'administrative').unique()
print(df['administrative'].value_counts())
print('\n')
dfinfo(df, 'browser').unique()
print('\n')
dfinfo(df, 'product_related').unique()
print('\n')
dfinfo(df, 'traffic_type').unique()

                  ColumnName  CountNull  PercentageNull
0             administrative        570            4.62
1    administrative_duration        912            7.40
2              informational          0            0.00
3     informational_duration        336            2.73
4            product_related        579            4.70
5   product_related_duration        201            1.63
6               bounce_rates          0            0.00
7                 exit_rates          0            0.00
8                page_values          0            0.00
9                      month          0            0.00
10         operating_systems         11            0.09
11                   browser          0            0.00
12                    region          0            0.00
13              traffic_type          0            0.00
14              visitor_type          0            0.00
15                   weekend          0            0.00
16                   revenue          0            0.00

Here are the unique values in 'informational':
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}


Here are the unique values in 'administrative':
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, <NA>}
administrative
0     5644
1     1237
2     1018
3      885
4      661
5      541
6      401
7      314
8      259
9      227
10     165
11      97
12      93
13      65
14      42
15      37
16      25
17      15
18      14
21       5
19       5
23       4
24       4
20       2
Name: count, dtype: Int64


Here are the unique values in 'browser':
{'Safari', 'Microsoft Edge', 'Sogou Explorer', 'Undetermined', 'Mozilla Firefox', 'UC Browser', 'Samsung Internet', 'Google Chrome', 'QQ', 'Yandex', 'Internet Explorer', 'Opera', 'Android'}


Here are the unique values in 'product_related':
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 191, 192, 193, 194, 195, 196, 197, 198, 199, 201, 202, 203, 204, 206, 207, 209, 210, 211, 212, 213, 214, 216, 217, 218, 220, 221, 222, 223, 225, 227, 228, 230, 231, 232, 233, 234, 235, 237, 238, 239, 240, 241, 242, 244, 245, 247, 249, 251, 252, 254, 255, 257, 258, 259, 260, 264, 265, 266, 267, 269, 270, 272, 274, 276, 278, 279, 282, 287, 291, 293, 300, 301, 303, 304, 305, 306, 307, 308, 310, 311, 317, 318, 319, 320, 326, 329, 330, 331, 332, 334, 336, 338, 350, 359, 362, 367, 368, 375, 377, 388, 405, 410, 436, 466, 472, 481, 485, <NA>}


Here are the unique values in 'traffic_type':
{'Direct Traffic', 'Facebook page', 'Newsletter', 'Other', 'Affiliate marketing', 'Google search', 'DuckDuckGo search', 'Yandex search', 'Instagram ads', 'Facebook ads', 'Instagram Page', 'Bing search', 'Tik Tok ads', 'Tik Tok page', 'Pinterest', 'Youtube channel', 'Youtube ads', 'Twitter', 'Yahoo Search'}

{'Affiliate marketing',
 'Bing search',
 'Direct Traffic',
 'DuckDuckGo search',
 'Facebook ads',
 'Facebook page',
 'Google search',
 'Instagram Page',
 'Instagram ads',
 'Newsletter',
 'Other',
 'Pinterest',
 'Tik Tok ads',
 'Tik Tok page',
 'Twitter',
 'Yahoo Search',
 'Yandex search',
 'Youtube ads',
 'Youtube channel'}

# Imputation Time

In [ ]:
from db_utils import DataFrameTransform as dft

%reload_ext autoreload
%autoreload 2

cols_to_impute_na = [
    "product_related_duration",
    "informational_duration",
    "administrative_duration"
]
cols_to_drop_na = [
    "operating_systems"
]
cols_to_mode_na = [
    "administrative",
    "product_related"
]

dft(df, cols_to_drop_na).drop_missing()
dft(df, cols_to_impute_na).impute_missing()
dft(df, cols_to_mode_na).impute_missing(strategy="mode")

dfinfo(df).null()

# Skewness Reduction Transformations

In [ ]:
from db_utils import Plotter

df.skew(numeric_only=True)

print("Original DataFrame:")
Plotter(df).numeric_distributions()

# Apply log transformation
log_transformed_df = dft(df).reduce_skewness(method='log')
print("\nLog-Transformed DataFrame:")
Plotter(log_transformed_df).numeric_distributions()

# Apply PowerTransformer
power_transformed_df = dft(df).reduce_skewness(method='power')
print("\nPower-Transformed DataFrame:")
Plotter(power_transformed_df).numeric_distributions()

# Outlier Purge

### Before:

In [ ]:
cols_with_outliers = [
    "administrative_duration",
    "informational_duration",
    "product_related_duration",
    "page_values"
]

Plotter(df).numeric_distributions(columns=cols_with_outliers, plot_type='scatter', z_threshold=4.5)

dfinfo(df, cols_with_outliers).count_outliers(z_treshold=4.5)

### Perform removal, assign to new dataframe

In [ ]:
df_sans_outliers = dft(df, columns=cols_with_outliers).drop_outliers(z_threshold=4.5)

### After:

In [ ]:
%reload_ext autoreload
%autoreload 2

Plotter(df_sans_outliers).numeric_distributions(columns=cols_with_outliers, plot_type='scatter', highlight_outliers=False)
Plotter(df_sans_outliers).numeric_distributions(plot_type='hist')

# Visualise Correlation Heatmap

In [ ]:
%reload_ext autoreload
%autoreload 2

plot = Plotter(df_sans_outliers)
plot.correlation_map()

if "bounce_rates" in df_sans_outliers.columns:
    df_sans_outliers = df_sans_outliers.drop(columns="bounce_rates")

plot = Plotter(df_sans_outliers)
plot.correlation_map()

# Missingness Correlation

Plot whether missing values in one column correlate with missing values in other columns.

*Spoiler alert: there doesn't seem to be correlation.*

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

def plot_null_correlation_heatmap(df):
    """
    Creates a heatmap showing correlations between missingness indicators for columns.
    Filters columns with no missing values and reorders them for better clarity.

    Args:
        df (pd.DataFrame): The dataframe to analyze.
    """
    # Create a missingness indicator DataFrame
    null_indicator = df.isnull()
    
    # Filter columns with at least some missing values
    missing_cols = null_indicator.loc[:, null_indicator.any()].columns
    
    # Subset to columns with missing values
    null_corr = null_indicator[missing_cols].corr()
    
    # Sort columns to cluster similar missingness patterns
    sorted_columns = null_corr.sum().sort_values(ascending=False).index
    null_corr = null_corr.loc[sorted_columns, sorted_columns]
    
    # Plot the heatmap
    plt.figure(figsize=(12, 10))  # Adjust the figure size for readability
    sns.heatmap(
        null_corr,
        cmap="coolwarm",  # Use a visually intuitive color map
        annot=True,       # Add annotations
        fmt=".2f",        # Format annotations with 2 decimal points
        linewidths=0.5,   # Add space between cells
        cbar_kws={'label': 'Correlation'}
    )
    plt.title("Correlation of Missingness Between Columns", fontsize=16, pad=20)
    plt.xticks(rotation=45, ha='right', fontsize=10)  # Rotate x-axis labels for clarity
    plt.yticks(fontsize=10)  # Adjust y-axis label font size
    plt.tight_layout()
    plt.show()

plot_null_correlation_heatmap(df)

# Browser per Region

In [ ]:
import plotly.express as px

fig = px.histogram(df, "browser", 
                   facet_col="operating_systems", 
                   color="operating_systems",
                   title="Counts of browser per operating_systems",
                   labels={"browser": "browser"},
                   height=1000, 
                   facet_col_wrap=2, 
                   facet_col_spacing=0.1,
                   histnorm='probability'
                   )
fig.update_layout(showlegend=False, xaxis={'categoryorder':'total descending'})
fig.update_yaxes(matches=None, showticklabels=True)
# fig.update_xaxes(showticklabels=True)
fig.show()

# Chart Boilerplate Collection

#### 1. Transparent Circle Scatter Plot

In [ ]:
# This is copied straight from another db analysis.
# TODO all variables and categories must be replaced with relevant ones.

category_array = ["I have never written code", "< 1 years", "1-2 years", "3-5 years", "5-10 years", "10-20 years", "20+ years"]
# fig = px.scatter(programming_experience_salary_df, "Programming Experience", "Salary", title="Density of Programming Experience vs Salary")
fig = px.scatter(programming_experience_salary_df, "Programming Experience", "Salary", facet_col=df["Q2"],title="Density of Programming Experience vs Salary")
fig.update_traces(marker=dict(
            opacity=0.05,
            size=20,
            line=dict(
                color='MediumPurple',
                width=0.5
            )))
fig.update_layout(xaxis={'categoryorder':'array', 'categoryarray':category_array})
fig.show()